:root {
    --g1: #f2e6e8;
    --g2: #ead4d7;
    --g3: #e1c1c6;
    --g4: #d8adb4;
    --granate: #6b1d26;
    --text: #3b1b1f;
    --navbar-height: 90px;

}

header,
.navbar {
    position: relative;
    z-index: 9999;
}

/* SECTION */
.mv-section {
    position: relative;
    min-height: calc(100vh - var(--navbar-height));
    margin-top: var(--navbar-height);
    overflow: hidden;
}

.mv-tabs {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}


/* RADIO TABS */
.mv-tabs input {
    position: absolute;
    left: 0;
    width: 22px;
    height: 25%;
    appearance: none;
    cursor: pointer;
    outline-offset: -11px;
    z-index: 3;
}

.mv-tabs input:nth-of-type(1) { top: 0; outline: 11px solid var(--g1); }
.mv-tabs input:nth-of-type(2) { top: 25%; outline: 11px solid var(--g2); }
.mv-tabs input:nth-of-type(3) { top: 50%; outline: 11px solid var(--g3); }
.mv-tabs input:nth-of-type(4) { top: 75%; outline: 11px solid var(--g4); }

/* CONTENT */
.mv-content {
    position: absolute;
    inset: 0;
    padding: 4rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(-100%);
    transition: transform .6s ease;
}


.mv-tabs input:checked + .mv-content {
    transform: translateX(0);
}

/* GRID */
.mv-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

/* TEXT */
.mv-text h2 {
    font-size: 1.6rem;
    color: var(--granate);
    margin-bottom: .8rem;
}

.mv-text p {
    font-size: .95rem;
    line-height: 1.7;
    color: var(--text);
}

/* TAG */
.mv-tag {
    display: inline-block;
    margin-bottom: .8rem;
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--granate);
}

/* IMAGE */
.mv-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
}

/* BACKGROUNDS */
.mv-content:nth-of-type(1) { background: var(--g1); }
.mv-content:nth-of-type(2) { background: var(--g2); }
.mv-content:nth-of-type(3) { background: var(--g3); }
.mv-content:nth-of-type(4) { background: var(--g4); }

/* RESPONSIVE */
@media (max-width: 992px) {
    .mv-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .mv-image img {
        max-height: 280px;
        object-fit: cover;
    }
}
